.navbar-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 4px 10px gray;
  padding: 1% 5%;
}
.fa-bars {
  cursor: pointer;
}
.logout-link {
  text-decoration: none;
  color: black;
}
.navbar-right,
.navbar-left {
  padding: 1.5% 0%;
}
