.sidebar-container {
    height: 100%;
    background-color: #4e73df;
}
.sidebar-header {
    margin-top: 30px;
}
.sidebar-btn {
    border: 1px solid white;
    background-color: white;
    cursor: pointer;
    color: black;
    width: 90%;
    text-decoration: none;
    padding: 3% 4%;
    margin-top: 30px;
    border-radius: 5px;
}
.sidebar-btn:hover {
    color: black;
}
.sidebar-items-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5%;
}
